.page-header {
    padding-top: 30px;
    padding-bottom: 30px;
    /* Adjusted gradient for a smoother transition */
    background: linear-gradient(to right, #ED560f, #FF8C00); 
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-header__text {
    max-width: 700px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.page-header__title {
    color: white;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 20px;
}

.page-header-search {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: none; /* Removed border for a cleaner look */
    background-color: white; /* Ensuring the input field is visibly white */
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Adding subtle shadow for depth */
}

.page-header-label {
    font-size: 14px;
    color: white;
    cursor: pointer;
}

/* Additional styling for the search button inside the input */
.search-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Adding an icon for the 'use my current location' feature */
.current-location-icon {
    cursor: pointer;
    color: white;
    position: absolute;
    right: 20px;
    top: calc(100% + 5px);
    transform: translateY(-50%);
}
